body {
	background: #2b65ec;
}

@media (max-width: 1080px) {
	body {
		background: #4cc417;
	}
}

@media (max-width: 550px) {
	body {
		background: #fdd017;
	}
}

@media (max-width: 400px) {
	body {
		background: #e55451;
	}
}
